<a href="https://colab.research.google.com/github/seongwoo123/Seongwoo/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
init_money=24
interest=0.06
years=382
init_money*(1+interest)**years

111442737812.28842

In [ ]:
age =input("나이를 입력하세요: ")
print(age)
print (type(age) )
print (type (int(age)) )

나이를 입력하세요: 20
20
<class 'str'>
<class 'int'>

In [ ]:
x = int(input("첫번째 정수: ") )
y = int(input("두번쨰 정수: ") )
sum = x+y
print("합: ", sum)

첫번째 정수: 10
두번쨰 정수: 20
합:  30

In [ ]:
r = 5
volume = 4/3 * 3.141592 * r**3
print (volume)

523.5986666666666

In [ ]:
A = input("물건값을 입력하세요: ")
a = int(input("1000원 지폐개수 = ") )
b = int(input("500원 동전개수 = ") )
c = int(input("100원 동전개수 = ") )
d = int(input("10원 동전개수 = ") )
e = int(input("1원 동전개수 = ") )
remain = A - (a+b+c+d+e)
print ("나머지 잔돈은 = " + remain)

In [ ]:
s1 = input("첫번째 단어를 입력하세요: ")
s2 = input("두번쨰 단어를 입력하세요: ")
s3 = input("두번쨰 단어를 입력하세요: ")
print(s1[0] + s2[0] + s3[0])

첫번째 단어를 입력하세요: Origianl
두번쨰 단어를 입력하세요: Sound
두번쨰 단어를 입력하세요: Track
OST

In [ ]:
weight = int(input("짐의 무게는 얼마 입니까? ") ) 
if weight>20:
    print("무거운 짐은 20,000원의 수수료를 내야합니다. 감사합니다.")
else:
    print("짐에 대한 수수료는 없습니다. 감사합니다.")

짐의 무게는 얼마 입니까? 25
무거운 짐은 20,000원의 수수료를 내야합니다. 감사합니다.

In [ ]:
num = int(input("숫자하나를 입력하세요: ") ) 
if  num%2 == 0:
  print("짝수입니다. ")
else:
  print(" 홀수입니다. ")

숫자하나를 입력하세요: 3
 홀수입니다.

In [ ]:
kor = 90
mat = 80
eng = 100
sum = kor + mat + eng
avg = sum/3
print('kor: ' , kor)
print('mat: ' , mat)
print('eng: ' , eng)
print('sum: ' , sum)
print('avg: ' , avg)

kor:  90
mat:  80
eng:  100
sum:  270
avg:  90.0

In [ ]:
print('T'*10)
print('T'*10)
print('    TT') 
print('    TT')  
print('    TT')

TTTTTTTTTT
TTTTTTTTTT
    TT
    TT
    TT

In [ ]:
x = 10
y = 20
z = 30
print(x,'+',y,'=',z)

10 + 20 = 30

In [ ]:
x = int(input(x))
y = int(input(y))
z = int(input(z))

sum = x + y + z
avg = sum/3

print('sum= ' , sum)
print('avg= ' , avg)

1020
2050
30100
sum=  170
avg=  56.666666666666664

In [ ]:
x = int (input(x))
y = int (input(y))

a = x > y
b = x < y
c = x >= y
d = x <= y

print(a)
print(b)
print(c)
print(d)

45
54
True
False
True
False